.todo-card {
    width: 300px;
    height: 200px;
    background-color: #FAF9F6;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    /* overflow: scroll; */
}

.todo-card-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-card h3 {
    display: block;
    margin-bottom: 20px;
}

.todo-card p {
    display: block;
    width: 80%;
    text-align: left;
    font-style: italic;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.todo-delete-btn {
    width: 30px;
    height: 30px;
    border: none;
    background-color: red;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    
}

.todo-delete-btn:hover {
    background-color: rgba(255, 0, 0, 0.783);
}

.todo-check-btn[type="checkbox"] {
    width: 20px;
    width: 20px;
    border: none;
    background-color: green;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 20px;
}

.random-line {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 10px;
}

.due-date-h3 {
    margin-top: 20px;
}