@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Quicksand:wght@300..700&display=swap');

.App {
  background: radial-gradient(circle at 10% 20%, rgb(233, 122, 129) 0%, rgb(181, 64, 149) 100.2%);
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
  height: 100%;
}

.todo-task-container {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  height: 200px;
  background-color: #fffffffa;
  padding-left: 20px;
  padding-top: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.todo-input-div {

  display: flex;
  width: 90%;
  

}

.todo-input {
  width: 70%;
  height: 40px;
  border: none;
  background-color: #f1efefd1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;

}

.todo-input[type=text] {
  padding-left: 20px;
}


.todo-add-btn {
  height: 41px;
  max-width: 100px;
  width: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(255, 85, 0);
  border: none;
  color: white;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;


}




.todo-grid {
  margin: 0 auto;
  margin-top: 100px;

  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 40px;
  width: 90%;
}


@media screen and (max-width: 1250px) {
  .todo-grid {
    grid-template-columns: repeat(4,1fr);

  }
}


@media screen and (max-width: 1000px) {
  .todo-grid {
    grid-template-columns: repeat(3,1fr);

  }
}

@media screen and (max-width: 700px) {
  .todo-grid {
    grid-template-columns: repeat(2,1fr);

  }
}

@media screen and (max-width: 600px) {
  .todo-grid {
    grid-template-columns: repeat(1,1fr);

  }
}